/* HomeButtons.css */
.custom-button {
  width: 100%;
  margin: 0 0;
  transition: all 0.2s;
}

.custom-button:hover {
  transform: scale(1.1);
}

.custom-margin-sm {
  margin-left: 20px;
}

@media (max-width: 576px) {
  .custom-margin-sm {
    margin-left: 0; /* Reset the margin for xs screens */
  }
}
