/* HomeButtons.css */
.custom-button {
    width: 100%;
    margin: 0 0;
    transition: all 0.2s;
  }
  
  .custom-button:hover {
    transform: scale(1.1);
  }
  
  @media (min-width: 992px) {
    .custom-button-row {
      margin: 0 40px; /* Adjust the margin as needed for laptop screens */
    }
  }